<div  style="width: 90%">

	<h2>Available Rooms</h2>
<% if @customer %>
  <%= @customer.first_name %>
<% end %>
<p>Booking <%=@num_of_adults%> people between dates: ...</p>

<table class="table table-hover">
	
	<% RoomType.all.each do |room_type| %>
	<tr>
		<td><%= image_tag(room_type.name.downcase.gsub(" ", "-") + ".jpg", :width => 200) %></td>
		
		<td><%= room_type.name %></td>
		<td><%= raw room_type.facility %></td>
		<td><%= number_to_currency room_type.price %></td>
		<td><%= link_to "Book Now", "/booking?room_type=#{room_type.id}" %></td>
	</tr>
	<% end %>

</table>
