<div class="container" style="width: 60%">

		<h1>Receipt</h1>
		<p><strong>First Name: </strong><%=@first_name%></p>
		<p><strong>Last Name: </strong><%=@last_name%></p>
		<p><strong>Number of Adults: </strong><%=@num_of_adults%></p>
		<p><strong>Number of Children: </strong><%=@num_of_children%></p>
		<p><strong>Duration of Stay: </strong><%=@arrive%> - <%=@depart%></p>
		<p><strong>Arrival Date: </strong><%=@arrive%></p>
		<p><strong>Departure Date: </strong><%=@depart%></p>
		<p><strong>Room Type: </strong><%=@room_type%></p>
		<div class="col-sm-offset-3 col-sm-9">
			<button class="btn btn-default" type="submit">OK</button>
		</div>
	</div>