<!-- 
	<div class="container" style="width: 80%">
		<h2>Room Availability Search</h2>

<% if @customer %>
  <%= @customer.first_name %>
<% end %>

<% flash.each do |key, value| %>
      <div class="<%= flash_class(key) %>">
            <%= value %>
      </div>
<% end %>
		
     <p>...</p>
		 
<%= form_tag("/bookings/check", method: "POST", :class => "form-horizontal") do %>
			<div class="form-group">
				<label class="col-sm-4 control-label" for="inputEmail3">Number of Adults</label>

				<div class="col-sm-7">
					<input class="form-control" id="numofadult" name="numofadult" placeholder="Number of Adults" type="number">
				</div>
			</div>


			<div class="form-group">
				<label class="col-sm-4 control-label" for="inputEmail3">Number of Children</label>

				<div class="col-sm-7">
					<input class="form-control" id="numofchildren" name="numofchildren" placeholder="Number of Children" type="number">
				</div>
			</div>


			<div class="form-group">
				<label class="col-sm-4 control-label" for="inputPassword3">Arrival Date</label>

				<div class="col-sm-7">
					<input class="form-control" id="arrive" name="arrive" placeholder="Arrival Date" type="text" value="<%=Date.tomorrow%>">
				</div>
			</div>


			<div class="form-group">
				<label class="col-sm-4 control-label" for="inputPassword3">Departure Date</label>

				<div class="col-sm-7">
					<input class="form-control" id="depart" name="depart" placeholder="e.g. 2017-01-28" type="text">
				</div>
			</div>


			<div class="form-group">
				<label class="col-sm-4 control-label" for="inputPassword3">Room Type</label>

				<div class="col-sm-7">
					<select class ="form-control" id="roomtype" name="roomtype">
							<option value=""> - </option>
							<% RoomType.all.each do |room_type| %>
							<option value="<%=room_type.id%>"><%=room_type.name%></option>
							<% end %>
					</select>
				</div>
			</div>

			<div class="form-group">
				<div class="col-sm-offset-4 col-sm-7">
					<button class="btn btn-default btn-primary" type="submit">Check</button>
				</div>
			</div>

<% end %>
	</div>


<div class="pull-right">
	<%if @customer%>
		<%= link_to 'Log out', '/log_out', :class => "btn" %>
	<%else%>
		<%= link_to 'Login', '/log_in', :class => "btn" %>
		or 
		<%= link_to 'create account first', '/customers/new', :class => "btn" %>
	<%end%>
</div>

-->