<p id="notice"><%= notice %></p>
<p>
  <strong>First Name:</strong>
  <%= @booking.customer.first_name %>
</p>

<p>
  <strong>Last Name:</strong>
  <%= @booking.customer.last_name %>
</p>

<p>
  <strong>Number of Adults:</strong>
  <%= @booking.num_of_adults %>
</p>

<p>
  <strong>Number of Children:</strong>
  <%= @booking.num_of_children %>
</p>

<p>
  <strong>Room Type:</strong>
  <%= @booking.room_type.name %>
</p>



<p>
  <strong>Check in date:</strong>
  <%= @booking.check_in_date %>
</p>

<p>
  <strong>Check out date:</strong>
  <%= @booking.check_out_date %>
</p>

<%= link_to 'Edit', edit_booking_path(@booking) %> |
<%= link_to 'Back', bookings_path %>
